<agm-map [latitude]="lat" [longitude]="lng" [ngClass]="cssClass" [zoom]="zoom">

  <be-layer-traffic></be-layer-traffic>

  <!-- [iconUrl]="feature.icon" -->

  <agm-marker
    *ngFor="let feature of features"
    [latitude]="feature.coordinates.lat"
    [longitude]="feature.coordinates.lng"
    title="{{ feature.id }}: {{ feature.properties.title }}"
    (markerClick)="markerClick(feature, index)">


    <agm-info-window>
      <be-camera
        *ngIf="feature.enabled"
        [feature]="feature"
        [attr.id]="feature.id">
      </be-camera>
    </agm-info-window>
    <!-- <be-camera-layer [feature]="feature"></be-camera-layer> -->

  </agm-marker>
</agm-map>
