<div class="wrapper">
  <sky-wait
    [isWaiting]="isWaiting">
  </sky-wait>

  <sky-toolbar>
    <sky-toolbar-item>
      <sky-search
        expandMode="none"
        [searchText]="searchText"
        [debounceTime]="250"
        (searchApply)="searchApplied($event)"
        (searchChange)="searchApplied($event)">
      </sky-search>
    </sky-toolbar-item>
    <sky-toolbar-view-actions>
      <button
        class="sky-btn sky-btn-primary"
        type="button"
        [disabled]="!isDirty"
        (click)="applySelected()">
        Apply
      </button>
    </sky-toolbar-view-actions>
  </sky-toolbar>

  <div *ngIf="searchText">
    <sky-repeater *ngIf="searchResults.length > 0">
      <div ngClass="search-results">
        <ng-container *ngTemplateOutlet="featureList; context: { $implicit: searchResults }">
        </ng-container>
      </div>
    </sky-repeater>
  </div>

  <sky-repeater *ngIf="regions && !searchText"
    expandMode="multiple">

    <sky-repeater-item
      *ngFor="let region of regions"
      [isExpanded]="region.expanded">

      <sky-repeater-item-title>
        <div class="pull-left">
          {{ region.name }}
        </div>
        <div class="pull-right">
          <span class="label">
            {{ region.selectedCount }}/{{ region.features.length }}
          </span>
        </div>
      </sky-repeater-item-title>

      <sky-repeater-item-content>
        <ng-container *ngTemplateOutlet="featureList; context: { $implicit: region.features }">
        </ng-container>
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>

  <ng-template #featureList let-features>
    <ul>
      <li *ngFor="let feature of features">
        <sky-checkbox
          (change)="featureSelected(feature)"
          [(ngModel)]="feature.selected">
          <sky-checkbox-label>
            <small>{{ feature.properties.description }}</small>
          </sky-checkbox-label>
        </sky-checkbox>
      </li>
    </ul>
  </ng-template>
</div>
