<div class="app-home">
  <sky-hero overlayOpacity="0.4" backgroundImageUrl="~/assets/hero-traffic.jpg">
    <sky-hero-heading>
      Bobby Earl Traffic
    </sky-hero-heading>
    <sky-hero-subheading>
      I hate traffic.  Now you can too.
    </sky-hero-subheading>
    <div class="hero-info">
      <a href="https://www.pexels.com/photo/action-asphalt-blur-dark-397983/" target="_blank" rel="nofollow noreferrer">
        <i class="fa fa-info-circle"></i>
      </a>
    </div>
  </sky-hero>

  <stache
    layout="container"
    showBreadcrumbs="false">

    <app-routes
      buttonText="Card View">
    </app-routes>

    <stache-page-anchor>
      High Five
    </stache-page-anchor>

    <p><strong>Like My Site?</strong> As in, use it everyday to get home?  Kindly consider donating through Paypal via the <s>buy me a beer</s> send my kids to college button below.  <a href="https://github.com/bobbyearl/traffic" target="_blank" rel="nofollow noreferrer">Contributions in GitHub</a> are also gladly accepted or check out the <a routerLink="/changelog">changelog</a> for updates to the site.</p>
    <p>
      <a href="https://paypal.me/simplyearl" class="sky-btn sky-btn-secondary">Send my Kids to College</a>
    </p>


    <stache-page-anchor>
      Inspiration
    </stache-page-anchor>

    <p>I sit in traffic a lot... and I hate it.  I wanted to very quickly get a real-time view of the cameras provided by <a href="http://www.511sc.org/" target="_blank" rel="nofollow noreferrer">511sc.org</a>.  Their website is also very useful, but requires clicking on individual cameras to load, similar to the map view on this sight. I wanted to see more than one camera at once, which is why this site was born.</p>

    <p>This site is proudly built using many Open Source tools, including the <a href="https://developer.blackbaud.com/skyux" target="_blank" rel="nofollow noreferrer">SKY UX framework</a> provided by <a href="https://www.blackbaud.com" target="_blank" rel="nofollow noreferrer">Blackbaud</a>.</p>

  </stache>
</div>
