.app-nav {

  .app-btn-active {
    font-weight: bold;
  }

  #app-btn-mobile-menu {
    background: #FFF;
    border: 0;
    border-radius: 0;
  }

  .fa {
    font-size: 18px;
    padding-right: 3px;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  ::ng-deep .sky-btn {
    background: none;
    border: 0;
    text-align: left;
    width: 100%;
  }

  ::ng-deep .sky-dropdown-caret {
    display: none;
  }
}
