.app-camera-grid {
  margin: 10px 5px;

  ::ng-deep video {
    width: 100%;
  }
  
  ::ng-deep .sky-column {
    padding: 0px 1px !important;
  }
  
  .info {
    font-size: small;
    padding: 0 5px 5px 5px;
    margin: 0;
  }
}
