<app-announcements>
</app-announcements>

<stache
  pageTitle="Hurricane Dorian"
  layout="container"
  showBreadcrumbs="true">

  <stache-page-anchor>
    Traffic
  </stache-page-anchor>

  <ul>
    <li>
      <a routerLink="/feeds/scdot" [fragment]="dorianThumbnailsFragment">
        I-26 lane reversal thumbnail view
      </a>
    </li>
    <li>
      <a href="https://gis.charleston-sc.gov/road-closures/map/map.html?emergency=true">
        City of Charleston - Road Closures
      </a>
    </li>
  </ul>

  <stache-page-anchor>
    Weather
  </stache-page-anchor>

  <ul>
    <li>
      <a href="https://charleston-sc.maps.arcgis.com/apps/MapSeries/index.html?appid=61d5ee562990480f922de9695872cd19">
        City of Charleston - Emergency Information
      </a>
    </li>
    <li>
      <a href="https://chswx.com">
        CHSWX
      </a>
    </li>
    <li>
      <a href="https://www.nhc.noaa.gov/refresh/graphics_at5+shtml/220614.shtml?gm_track#contents">
        NOAA - National Hurricane Center
      </a>
    </li>
    <li>
      <a href="https://www.windy.com/?31.858,-78.878,8">
        Windy.com
      </a>
    </li>
  </ul>

  <stache-page-anchor>
    Webcams
  </stache-page-anchor>

  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=iuFN2flJZ9Y">
        Post and Courier
      </a>
    </li>
    <li>
      <a href="https://youtu.be/FtmE2o2E-ls">
        Carolina Bay
      </a>
    </li>
    <li>
      <a href="https://youtu.be/SMiATo-LNck">
        West Ashley
      </a>
    </li>
    <li>
      <a href="https://www.charlestoncitypaper.com/TheBattery/archives/2019/09/04/keep-an-eye-on-hurricane-dorian-with-these-webcams">
        List from Charleston City Paper
      </a>
    </li>
  </ul>

</stache>
