video {
  padding: 5px 5px 0 5px;
}

sky-alert {
  left: 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}

::ng-deep .sky-wait-double-bounce1,
::ng-deep .sky-wait-double-bounce2 {
  background-color: #EFEFEF !important;
}