::ng-deep .si-content-wrapper {
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  padding: 5px 5px 2px 5px;
  width: 100%;
}

::ng-deep .si-close-button {
  background: #FFF;
  border: solid 1px #BBB;
  border-radius: 3px;
  display: block;
  line-height: 18px;
  opacity: 1;
  padding: 0 3px;
  right: -10px;
  top: -8px;
  z-index: 1;
}

::ng-deep .si-close-button:hover,
::ng-deep .si-close-button:focus {
  opacity: 1;
}

.video-in-map ::ng-deep video {
  min-height: 240px;
  min-width: 340px;
  width: 100%;
}
