<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [fitBounds]="selectedBounds"
  [ngClass]="cssClass"
  [zoom]="zoom">

  <app-layer-traffic></app-layer-traffic>

  <agm-marker
    *ngFor="let feature of features"
    [latitude]="feature.coordinates.lat"
    [longitude]="feature.coordinates.lng"
    title="{{ feature.id }}: {{ feature.properties.title }}"
    (markerClick)="markerClick(feature, index)">

    <agm-snazzy-info-window
      [isOpen]="feature.selected"
      [closeOnMapClick]="false"
      (afterClose)="infoWindowClosed(feature)"
      maxHeight="0px"
      maxWidth="0px">
      <ng-template>
        <app-feature-viewer *ngIf="feature.selected"
          class="video-in-map"
          [feature]="feature">
        </app-feature-viewer>
      </ng-template>
    </agm-snazzy-info-window>

  </agm-marker>
</agm-map>
