::ng-deep .si-content-wrapper {
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

::ng-deep .si-close-button {
  background: #FFF;
  border: solid 1px #bbb;
  border-radius: 3px;
  display: block;
  line-height: 18px;
  opacity: 1;
  padding: 0 3px;
  right: -10px;
  top: -8px;
  z-index: 1;
}

::ng-deep .si-close-button:hover,
::ng-deep .si-close-button:focus {
  opacity: 1;
}

// ::ng-deep .si-pointer-bg-top {
//   border-top-color: #EFEFEF;
// }

::ng-deep .si-has-border .si-content-wrapper {
  border: 0;
}

.video-in-map ::ng-deep video,
.video-in-map ::ng-deep img {
  min-height: 240px;
  min-width: 340px;
  width: 100%;
}
